[submodule "bukkit"]
	path = bukkit
	url = https://gitlab.prok.pw/Prototik/KCauldron-Bukkit.git
[submodule "forge"]
	path = forge
	url = https://gitlab.prok.pw/Mirrors/minecraftforge.git
	branch = 1.7.10
